.svg-public--icon--icon-facebook {
    background: url("../svg/sprite.css-c32c5a69.svg") 0 0 no-repeat;
}

.svg-public--icon--icon-facebook-dims {
    width: 20px;
    height: 20px;
}

.svg-public--icon--icon-pinterest {
    background: url("../svg/sprite.css-c32c5a69.svg") 57.142857142857146% 0 no-repeat;
}

.svg-public--icon--icon-pinterest-dims {
    width: 20px;
    height: 20px;
}

.svg-public--icon--icon-share {
    background: url("../svg/sprite.css-c32c5a69.svg") 50% 83.33333333333333% no-repeat;
}

.svg-public--icon--icon-share-dims {
    width: 15px;
    height: 13px;
}

.svg-public--icon--icon-share-white {
    background: url("../svg/sprite.css-c32c5a69.svg") 100% 0 no-repeat;
}

.svg-public--icon--icon-share-white-dims {
    width: 15px;
    height: 13px;
}

.svg-public--icon--icon-twitter {
    background: url("../svg/sprite.css-c32c5a69.svg") 0 100% no-repeat;
}

.svg-public--icon--icon-twitter-dims {
    width: 20px;
    height: 17px;
}

